@CHARSET "UTF-8";
input, textarea, select, label, option, a, p, h2, h3, div, button {font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei",	"Hiragino Sans GB", "WenQuanYi Micro Hei", "sans-serif";}
.loading {position: fixed;width: 8%;z-index: 1250;top: 25%;left: 46%;}
.mask {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.1);z-index: 1200;}
.was-diaolog {box-shadow: 0 1px 1px #FFF inset;z-index: 1250;position: fixed;width: 45%;top: 30%;left: 30%;border-radius: 5px;text-align: center;cursor: pointer;}
.bootstrap-table .columns,.bootstrap-table .search {margin-top: 20px !important;}

.list-group-item button{margin: 2px 2px;}
#custom-toolbar{margin-bottom: 0;}
#custom-toolbar .list-group-item{padding: 6px 10px;}
#custom-toolbar .radio-inline input, #custom-toolbar .checkbox-inline input{position: relative;}
#custom-toolbar .badge {vertical-align: text-bottom;}

/*重载bootstrap table表格高亮行颜色*/
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	/* background-color: #DDD; */
	background-color: #D9EDF7;/*BS info颜色*/
	/*background-color: #DFF0D8;*//*BS success颜色*/
}
.table .selected > td {
	/* background-color: #DCF8A8 !important; *//*BS success颜色*/
	background-color: #DCF8A8 !important;/*LigerUI success颜色*/
}

/*加入BS3去掉的badge颜色样式*/
.badge:hover {color: #ffffff;text-decoration: none;/* cursor: pointer; */}
.badge-important {background-color: #b94a48;}
.badge-important:hover {background-color: #953b39;}
.badge-warning {background-color: #f89406;}
.badge-warning:hover {background-color: #c67605;}
.badge-success {background-color: #468847;}
.badge-success:hover {background-color: #356635;}
.badge-info {background-color: #3a87ad;}
.badge-info:hover {background-color: #2d6987;}
.badge-inverse {background-color: #333333;}
.badge-inverse:hover {background-color: #1a1a1a;}

/*避免BS Table 卡片模式时按钮拥挤*/
.card-view button{margin-top: 2px;margin-bottom: 2px;}